html{font-family: 'Inter', sans-serif;}
html { overflow-x:  hidden; }
.header{
    z-index: 10;
    top: 0rem; left: 0rem;
    color: #ffffff;
    text-align:right;
    transition: all .3s ease;
    position: fixed;
    background-color: #000000;
    padding-bottom: 0.5%;
    width: 100%;
    height: 10rem;
}
.header .search{
    top: 2.5rem; left: auto;
    position: fixed;
    width: 50%;
    height: 2.5rem;
}
.footer{
    z-index: 11;
    font-weight: 600;
    bottom: 0rem; left: 0rem;
    color: #ffffff;
    text-align:right;
    transition: all .3s ease;
    position: fixed;
    background-color: #000000;
    padding-bottom: 0.5%;
    width: 100%;
    height: 14rem;
}
.footer .bombas{
    bottom: 10.5rem; left: 3rem;
    position: fixed;
    width: 11.5rem;
}
.footer .email-text{
    bottom: 4.5rem; left: 3rem;
    position: fixed;
    color: #BFBFBF;
    text-decoration: none;
}
.copyright{
    box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
    display: inline-block;
    position: fixed;
    bottom: 1.5rem; left: 3rem;
    color: #BFBFBF;
}
.socnet{
    box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
    display: inline-block;
    position: fixed;
    width: 2%;
    height: auto;
    min-width: 35px;
}
#githab{
    bottom: 7rem; left: 3rem;
}
#facebook{
    bottom: 7rem; left: 6rem;
}
#twitter{
    bottom: 7rem; left: 9rem;
}
#instagram{
    bottom: 7rem; left: 12rem;
}
.footer-text{
    text-align: center;
}
#telephone{
    bottom: 2.5rem; left: 28.5%;
}
#news{
    bottom: 2.5rem; left: 45%;
}
#response{
    bottom: 2.5rem; left: 66.5%;
}
#clock{
    box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
    left: 90%; bottom: 2.5rem;
    position: fixed;
    font-size: 115%;
}
.footer a{
    font-weight: 600;
    box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
    position: fixed;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
    color: #BFBFBF;
}
.footer a:hover{
    color: #ffffff;
}
.news{
    font-weight: 800;
    font-size: 250%;
    width: 50%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 25%;
    margin-right: auto;
    height: 100%;
    position: absolute;
    display: block;
    align-items: center;
    background-color: #d5d5d5;
    text-align: center;
    border-radius: 10px;
}
.news a{
    text-decoration: none;
    color: #000000;
}
#news1{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
#news2{
    margin-top: 8.5em;
    margin-bottom: 1.5em;
}
.news_text{
    position: absolute;
    margin-top: 2.5em;
    margin-left: -4em;
}
.new{
    width: 50%;
    margin-top: 1.5em;
    margin-left: 25%;
    margin-right: auto;
    height: 100%;
    position: absolute;
    display: block;
    align-items: center;
    background-color: #d5d5d5;
    text-align: left;
    border-radius: 10px;
}
.new_header_text{
    margin-top: 4em;
    font-size: 250%;
    font-weight: 800;
}
.new_text{
    margin-top: -1.5em;
}
.fb-comments{
    padding: 1.5em;
    width: 20em;
    margin-top: 11em;
    margin-left: 50em;
    margin-right: auto;
    height: 28.5em;
    position: absolute;
    display: block;
    align-items: center;
    background-color: #d5d5d5;
    text-align: left;
    border-radius: 10px;
}






@media screen and (max-width: 567px) {
.header{
    z-index: 10;
    top: 0rem; left: 0rem;
    color: #ffffff;
    text-align:right;
    transition: all .3s ease;
    position: fixed;
    background-color: #000000;
    padding-bottom: 0.5%;
    width: 100%;
    height: 5rem;
}
.footer{
    z-index: 11;
    font-weight: 600;
    bottom: 0rem; left: 0rem;
    color: #ffffff;
    text-align:right;
    transition: all .3s ease;
    position: fixed;
    background-color: #000000;
    padding-bottom: 0.5%;
    width: 100%;
    height: 20rem;
}
.footer .bombas{
    bottom: 15rem; left: 7rem;
    position: fixed;
    width: 11.5rem;
}
.footer .email-text{
    bottom: 8.5rem; left: 7rem;
    position: fixed;
    color: #BFBFBF;
    text-decoration: none;
}
.copyright{
    box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
    display: inline-block;
    position: fixed;
    bottom: 5.5rem; left:6rem;
    color: #BFBFBF;
}
.socnet{
    box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
    display: inline-block;
    position: fixed;
    width: 2%;
    height: auto;
    min-width: 35px;
}
#githab{
    bottom: 11.5rem; left: 7rem;
}
#facebook{
    bottom: 11.5rem; left: 13rem;
}
#twitter{
    bottom: 11.5rem; left: 10rem;
}
#instagram{
    bottom: 11.5rem;; left: 16rem;
}
.footer-text{
    text-align: center;
}
#telephone{
    bottom: 1.5rem; left: 8rem;
}
#news{
    bottom: 3rem; left: 6.5rem;
}
#response{
    bottom: 4.5rem; left: 10.5rem;
}
#clock{
    display: none;
}
.footer a{
    font-weight: 600;
    box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
    position: fixed;
    display: block;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
    color: #BFBFBF;
}
.footer a:hover{
    color: #ffffff;
}
.news{
    font-weight: 800;
    font-size: 150%;
    width: 87.5%;
    height: 7em;
    margin-bottom: 1.5em;
    margin-left: 5%;
    margin-right: auto;
    position: absolute;
    display: block;
    align-items: center;
    background-color: #d5d5d5;
    text-align: center;
    border-radius: 10px;
}
.news a{
    text-decoration: none;
    color: #000000;
}
#news1{
    margin-top: 4.5em;
    margin-bottom: 1.5em;
}
#news2{
    margin-top: 11.5em;
    margin-bottom: 1.5em;
}
.new{
    width: 50%;
    margin-top: 1.5em;
    margin-left: 25%;
    margin-right: auto;
    height: 100%;
    position: absolute;
    display: block;
    align-items: center;
    background-color: #d5d5d5;
    text-align: left;
    border-radius: 10px;
}
.new_header_text{
    margin-top: 4em;
    font-size: 250%;
    font-weight: 800;
}
.new_text{
    margin-top: -1.5em;
}
.fb-comments{
    padding: 1.5em;
    width: 20em;
    margin-top: 11em;
    margin-left: 50em;
    margin-right: auto;
    height: 28.5em;
    position: absolute;
    display: block;
    align-items: center;
    background-color: #d5d5d5;
    text-align: left;
    border-radius: 10px;
}}



/* and (width: 820px) and (width: 1024px) */


@media screen and (width: 768px){
    .header{
        z-index: 10;
        top: 0rem; left: 0rem;
        color: #ffffff;
        text-align:right;
        transition: all .3s ease;
        position: fixed;
        background-color: #000000;
        padding-bottom: 0.5%;
        width: 100%;
        height: 7.5rem;
    }
    .footer{
        z-index: 11;
        font-weight: 600;
        bottom: 0rem; left: 0rem;
        color: #ffffff;
        text-align:right;
        transition: all .3s ease;
        position: fixed;
        background-color: #000000;
        padding-bottom: 0.5%;
        width: 100%;
        height: 20rem;
    }
    .footer .bombas{
        bottom: 15rem; left: 3rem;
        position: fixed;
        width: 15rem;
    }
    .footer .email-text{
        bottom: 8.5rem; left: 3.5rem;
        position: fixed;
        color: #BFBFBF;
        text-decoration: none;
    }
    .copyright{
        box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
        display: inline-block;
        position: fixed;
        bottom: 5.5rem; left: 3.5rem;
        color: #BFBFBF;
    }
    .socnet{
        box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
        display: inline-block;
        position: fixed;
        width: 5.5%;
        height: auto;
        min-width: 35px;
    }
    #githab{
        bottom: 11.5rem; left: 3.5rem;
    }
    #twitter{
        bottom: 11.5rem; left: 7.5rem;
    }
    #facebook{
        bottom: 11.5rem; left: 11.25rem;
    }
    #instagram{
        bottom: 11.5rem;; left: 15rem;
    }
    .footer-text{
        text-align: center;
    }
    #news{
        bottom: 3rem; left: 3.5rem;
    }
    #telephone{
        bottom: 3rem; left: 20rem;
    }
    #response{
        bottom: 3rem; left: 35rem;
    }
    #clock{
        display: none;
    }
    .footer a{
        font-weight: 600;
        box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
        position: fixed;
        display: block;
        font-size: 120%;
        text-decoration: none;
        cursor: pointer;
        color: #BFBFBF;
    }
    .footer a:hover{
        color: #ffffff;
    }
    .news{
        font-weight: 800;
        font-size: 250%;
        width: 87.5%;
        height: 5.5em;
        margin-bottom: 1.5em;
        margin-left: 5%;
        margin-right: auto;
        position: absolute;
        display: block;
        align-items: center;
        background-color: #d5d5d5;
        text-align: center;
        border-radius: 10px;
    }
    .news a{
        text-decoration: none;
        color: #000000;
    }
    #news1{
        margin-top: 3.5em;
        margin-bottom: 1.5em;
    }
    #news2{
        margin-top: 9.5em;
        margin-bottom: 1.5em;
    }
    .new{
        width: 50%;
        margin-top: 1.5em;
        margin-left: 25%;
        margin-right: auto;
        height: 100%;
        position: absolute;
        display: block;
        align-items: center;
        background-color: #d5d5d5;
        text-align: left;
        border-radius: 10px;
    }
    .new_header_text{
        margin-top: 4em;
        font-size: 250%;
        font-weight: 800;
    }
    .new_text{
        margin-top: -1.5em;
    }
    .fb-comments{
        padding: 1.5em;
        width: 20em;
        margin-top: 11em;
        margin-left: 50em;
        margin-right: auto;
        height: 28.5em;
        position: absolute;
        display: block;
        align-items: center;
        background-color: #d5d5d5;
        text-align: left;
        border-radius: 10px;
    }}



    @media screen and (width: 768px){
        .header{
            z-index: 10;
            top: 0rem; left: 0rem;
            color: #ffffff;
            text-align:right;
            transition: all .3s ease;
            position: fixed;
            background-color: #000000;
            padding-bottom: 0.5%;
            width: 100%;
            height: 7.5rem;
        }
        .footer{
            z-index: 11;
            font-weight: 600;
            bottom: 0rem; left: 0rem;
            color: #ffffff;
            text-align:right;
            transition: all .3s ease;
            position: fixed;
            background-color: #000000;
            padding-bottom: 0.5%;
            width: 100%;
            height: 20rem;
        }
        .footer .bombas{
            bottom: 15rem; left: 3rem;
            position: fixed;
            width: 15rem;
        }
        .footer .email-text{
            bottom: 8.5rem; left: 3.5rem;
            position: fixed;
            color: #BFBFBF;
            text-decoration: none;
        }
        .copyright{
            box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
            display: inline-block;
            position: fixed;
            bottom: 5.5rem; left: 3.5rem;
            color: #BFBFBF;
        }
        .socnet{
            box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
            display: inline-block;
            position: fixed;
            width: 5.5%;
            height: auto;
            min-width: 35px;
        }
        #githab{
            bottom: 11.5rem; left: 3.5rem;
        }
        #twitter{
            bottom: 11.5rem; left: 7.5rem;
        }
        #facebook{
            bottom: 11.5rem; left: 11.25rem;
        }
        #instagram{
            bottom: 11.5rem;; left: 15rem;
        }
        .footer-text{
            text-align: center;
        }
        #news{
            bottom: 3rem; left: 3.5rem;
        }
        #telephone{
            bottom: 3rem; left: 20rem;
        }
        #response{
            bottom: 3rem; left: 35rem;
        }
        #clock{
            display: none;
        }
        .footer a{
            font-weight: 600;
            box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
            position: fixed;
            display: block;
            font-size: 120%;
            text-decoration: none;
            cursor: pointer;
            color: #BFBFBF;
        }
        .footer a:hover{
            color: #ffffff;
        }
        .news{
            font-weight: 800;
            font-size: 250%;
            width: 87.5%;
            height: 5.5em;
            margin-bottom: 1.5em;
            margin-left: 5%;
            margin-right: auto;
            position: absolute;
            display: block;
            align-items: center;
            background-color: #d5d5d5;
            text-align: center;
            border-radius: 10px;
        }
        .news a{
            text-decoration: none;
            color: #000000;
        }
        #news1{
            margin-top: 3.5em;
            margin-bottom: 1.5em;
        }
        #news2{
            margin-top: 9.5em;
            margin-bottom: 1.5em;
        }
        .new{
            width: 50%;
            margin-top: 1.5em;
            margin-left: 25%;
            margin-right: auto;
            height: 100%;
            position: absolute;
            display: block;
            align-items: center;
            background-color: #d5d5d5;
            text-align: left;
            border-radius: 10px;
        }
        .new_header_text{
            margin-top: 4em;
            font-size: 250%;
            font-weight: 800;
        }
        .new_text{
            margin-top: -1.5em;
        }
        .fb-comments{
            padding: 1.5em;
            width: 20em;
            margin-top: 11em;
            margin-left: 50em;
            margin-right: auto;
            height: 28.5em;
            position: absolute;
            display: block;
            align-items: center;
            background-color: #d5d5d5;
            text-align: left;
            border-radius: 10px;
        }}




        @media screen and (width: 768px){
            .header{
                z-index: 10;
                top: 0rem; left: 0rem;
                color: #ffffff;
                text-align:right;
                transition: all .3s ease;
                position: fixed;
                background-color: #000000;
                padding-bottom: 0.5%;
                width: 100%;
                height: 7.5rem;
            }
            .footer{
                z-index: 11;
                font-weight: 600;
                bottom: 0rem; left: 0rem;
                color: #ffffff;
                text-align:right;
                transition: all .3s ease;
                position: fixed;
                background-color: #000000;
                padding-bottom: 0.5%;
                width: 100%;
                height: 20rem;
            }
            .footer .bombas{
                bottom: 15rem; left: 3rem;
                position: fixed;
                width: 15rem;
            }
            .footer .email-text{
                bottom: 8.5rem; left: 3.5rem;
                position: fixed;
                color: #BFBFBF;
                text-decoration: none;
            }
            .copyright{
                box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
                display: inline-block;
                position: fixed;
                bottom: 5.5rem; left: 3.5rem;
                color: #BFBFBF;
            }
            .socnet{
                box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
                display: inline-block;
                position: fixed;
                width: 5.5%;
                height: auto;
                min-width: 35px;
            }
            #githab{
                bottom: 11.5rem; left: 3.5rem;
            }
            #twitter{
                bottom: 11.5rem; left: 7.5rem;
            }
            #facebook{
                bottom: 11.5rem; left: 11.25rem;
            }
            #instagram{
                bottom: 11.5rem;; left: 15rem;
            }
            .footer-text{
                text-align: center;
            }
            #news{
                bottom: 3rem; left: 3.5rem;
            }
            #telephone{
                bottom: 3rem; left: 20rem;
            }
            #response{
                bottom: 3rem; left: 35rem;
            }
            #clock{
                display: none;
            }
            .footer a{
                font-weight: 600;
                box-shadow: 1px 1px 5px 1px rgba(.05, .05, .05, .05);
                position: fixed;
                display: block;
                font-size: 120%;
                text-decoration: none;
                cursor: pointer;
                color: #BFBFBF;
            }
            .footer a:hover{
                color: #ffffff;
            }
            .news{
                font-weight: 800;
                font-size: 250%;
                width: 87.5%;
                height: 5.5em;
                margin-bottom: 1.5em;
                margin-left: 5%;
                margin-right: auto;
                position: absolute;
                display: block;
                align-items: center;
                background-color: #d5d5d5;
                text-align: center;
                border-radius: 10px;
            }
            .news a{
                text-decoration: none;
                color: #000000;
            }
            #news1{
                margin-top: 3.5em;
                margin-bottom: 1.5em;
            }
            #news2{
                margin-top: 9.5em;
                margin-bottom: 1.5em;
            }
            .new{
                width: 50%;
                margin-top: 1.5em;
                margin-left: 25%;
                margin-right: auto;
                height: 100%;
                position: absolute;
                display: block;
                align-items: center;
                background-color: #d5d5d5;
                text-align: left;
                border-radius: 10px;
            }
            .new_header_text{
                margin-top: 4em;
                font-size: 250%;
                font-weight: 800;
            }
            .new_text{
                margin-top: -1.5em;
            }
            .fb-comments{
                padding: 1.5em;
                width: 20em;
                margin-top: 11em;
                margin-left: 50em;
                margin-right: auto;
                height: 28.5em;
                position: absolute;
                display: block;
                align-items: center;
                background-color: #d5d5d5;
                text-align: left;
                border-radius: 10px;
            }}
/* 
Если при изменении размера шрифта у корневого элемента этот отступ должен изменится, то в rem.
Если он зависит от текущего шрифта, то в em.
Если не зависит ни от чего и всегда постоянен, то в px.
*/