#toTop{
    font-family: 'Inter', sans-serif; 
    width:3.5em;
    border: 3px #004e4a solid; 
    border-radius: 15px;
    background-color: #008b85;
    padding: .75em;
    position:fixed;
    bottom: 2.5em;
    right: 2.5em;
    cursor:pointer;
    display:none;
    font-size: 110%;
    color: #ffffff;
    font-weight: 600;
    z-index: 20;
    }
@media screen and (max-width: 567px) {
    #toTop{
    bottom: 1.5em;
    right: .5em;
    padding: .5em;
}
}