html{font-family: 'Inter', sans-serif;}
html { overflow-x:  hidden; }
.header{
    z-index: 10;
    top: 0rem; left: 0rem;
    color: #ffffff;
    text-align:center;
    transition: all .3s ease;
    position: fixed;
    background-color: #008b85;
    padding-bottom: 0.5%;
    width: 100%;
    height: 10rem;
}
#game{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    background-color: #008b84b2;
    width: 25em;
    height: 26.5em;
}
.footer{
    z-index: 11;
    font-weight: 600;
    bottom: 0rem; left: 0rem;
    color: #ffffff;
    text-align:right;
    transition: all .3s ease;
    position: fixed;
    background-color: #008b85;
    padding-bottom: 0.5%;
    width: 100%;
    height: 14rem;
}
.footer .bombas{
    bottom: 10.5rem; left: 3rem;
    position: fixed;
    width: 11.5rem;
}
.footer .email-text{
    bottom: 4.5rem; left: 3rem;
    position: fixed;
    color: #BFBFBF;
    text-decoration: none;
}
.copyright{
    display: inline-block;
    position: fixed;
    bottom: 1.5rem; left: 3rem;
    color: #BFBFBF;
}
.socnet{
    display: inline-block;
    position: fixed;
    width: 2%;
    height: auto;
    min-width: 35px;
}
#githab{
    bottom: 7rem; left: 3rem;
}
#facebook{
    bottom: 7rem; left: 6rem;
}
#twitter{
    bottom: 7rem; left: 9rem;
}
#instagram{
    bottom: 7rem; left: 12rem;
}
#phone{
    bottom: 7rem; left: 15rem;
}
.footer-text{
    text-align: center;
}
#telephone{
    bottom: 2.5rem; left: 28.5%;
}
#news{
    bottom: 2.5rem; left: 45%;
}
#response{
    bottom: 2.5rem; left: 66.5%;
}
#clock{
    left: 47.5%; bottom: 1rem;
    position: fixed;
    font-size: 115%;
}
.footer a{
    font-weight: 600;
    position: fixed;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
    color: #BFBFBF;
}
.footer a:hover{
    color: #ffffff;
}
.order{
    margin: 8rem 0 0 0; 
    padding: 6.5rem 0 0 0;
}
.order label{
    font-size: 125%;
    font-weight: 600;
    color: #004e4a;
}
.order input[type="text"], .order input[type="tel"], .order input[type="time"], .order input[type="date"]{
    margin: 1rem 0 1rem 0; 
    border-radius: 10px; 
    height: 2rem; 
    border: none; 
    text-align: center;
    width: 17.5rem; 
    font-family: 'Inter', sans-serif; 
    padding: 0 .5em 0 .5em;
    background-color: #004e4a49;
}
.order input[type="text"]:focus,
.order input[type="text"]:active,
.order input[type="tel"]:focus,
.order input[type="tel"]:active, 
.order input[type="time"]:focus,
.order input[type="time"]:active,
.order input[type="date"]:focus,
.order input[type="date"]:active{
  outline: none;
}
.order input[type="submit"]{
    margin: 0 0 1em 0; 
    color: #004e4a;
    border: 3px #004e4a solid; 
    border-radius: 10px;
    text-align: center; 
    font-size: 115%; 
    font-weight: 600;
    font-family: 'Inter', sans-serif; 
    padding: .5em 1em .5em 1em; 
    cursor: pointer;
    background-color: #004e4a79;
}
.game_registration{
    margin: 0 0 1em 0; 
    color: #004e4a;
    border: 3px #004e4a solid; 
    border-radius: 10px;
    text-align: center; 
    font-size: 115%; 
    font-weight: 600;
    font-family: 'Inter', sans-serif; 
    padding: .5em 1em .5em 1em; 
    cursor: pointer;
    background-color: #004e4a79;
}
.fb-comments{
    padding: 1.5em;
    margin-top: 13rem; 
    position: absolute;
    background-color: #008b84b2;
    border-radius: 10px;
}





@media screen and (max-width: 567px) {
    .container {margin-top: -10rem; display: flex; align-items: center; justify-content: center; padding-top: 10px;}
.header{
    z-index: 10;
    top: 0rem; left: 0rem;
    color: #ffffff;
    transition: all .3s ease;
    position: fixed;
    padding-bottom: 0.5%;
    width: 100%;
    height: 7rem;
}
#game{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    background-color: #008b84b2;
    width: 21.5em;
    height: 25em;
}
.header .profile{
    text-align: right;
    top: 3.5rem; right: 3rem;
    position: fixed;
    width: 13.5rem;
}
.header .profile a{
    display: inline-flex;
    cursor: pointer;
}
.footer{
    z-index: 11;
    font-weight: 600;
    bottom: 0rem; left: 0rem;
    color: #ffffff;
    text-align:right;
    transition: all .3s ease;
    position: fixed;
    padding-bottom: 0.5%;
    width: 100%;
    height: 20rem;
}
.footer .bombas{
    bottom: 31.5%; left:23.5%;
    position: fixed;
    width: 11.5rem;
}
.footer .email-text{
    position: fixed;
    color: #BFBFBF;
    bottom: 17.5%; margin: 0 11.5% 0 11.5%;
    text-decoration: none;
}
.copyright{
    display: inline-block;
    position: fixed;
    bottom: 10.5%; margin: 0 7%  7%;
}
.socnet{
    display: inline-block;
    position: fixed;
    width: 2%;
    height: auto;
    min-width: 35px;
    margin: 0 6% 0 6%;
}
#githab{
    bottom: 22.5%; 
}
#facebook{
    bottom: 22.5%;
}
#twitter{
    bottom: 22.5%;
}
#instagram{
    bottom: 22.5%;
}
#phone{
    bottom: 22.5%;
}
.footer-text{
    text-align: center;
}
#telephone{
    bottom: 3%; left: 30%;
}
#news{
    bottom: 6%; left: 23.5%;
}
#response{
    bottom: 9.5%; left:41.5%;
}
#clock{
    bottom: 28%; left:40%;
}
.footer a{
    z-index: 25;
    font-weight: 600;
    position: fixed;
    display: block;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
    color: #BFBFBF;
}
.footer a:hover{
    color: #ffffff;
}
.order{
    margin: 5% 0 0 0; 
}
.order label{
    font-size: 125%;
}
.order input[type="text"]{
    margin: .5rem 0 .5rem 0; 
    height: 2.5rem; 
    width: 17.5rem; 
    font-size: 100%; 
    font-family: 'Inter', sans-serif; 
    padding: 0 .5em 0 .5em;
}
.order input[type="submit"]{
    margin: 0 0 1em 0; 
    font-size: 115%; 
    font-family: 'Inter', sans-serif; 
    padding: 0.5em 0.5em 0.5em 0.5em; 
}
.fb-comments{
    padding: 1.5em;
    width: 20em;
    margin-top: 11em;
    margin-left: 50em;
    margin-right: auto;
    height: 28.5em;
    position: absolute;
    display: block;
    align-items: center;
    background-color: #d5d5d5;
    text-align: left;
    border-radius: 10px;
}
.gmap_canvas {
    display: none;
}
}



/* and (width: 820px) and (width: 1024px) */


@media screen and (width: 768px){
    .header{
        z-index: 10;
        top: 0rem; left: 0rem;
        color: #ffffff;
        transition: all .3s ease;
        position: fixed;
        padding-bottom: 0.5%;
        width: 100%;
        height: 7.5rem;
    }
    .footer{
        z-index: 11;
        font-weight: 600;
        bottom: 0rem; left: 0rem;
        color: #ffffff;
        text-align:right;
        transition: all .3s ease;
        position: fixed;
        padding-bottom: 0.5%;
        width: 100%;
        height: 20rem;
    }
    .footer .bombas{
        bottom: 15rem; left: 3rem;
        position: fixed;
        width: 15rem;
    }
    .footer .email-text{
        bottom: 8.5rem; left: 3.5rem;
        position: fixed;
        color: #BFBFBF;
        text-decoration: none;
    }
    .copyright{
        display: inline-block;
        position: fixed;
        bottom: 5.5rem; left: 3.5rem;
        color: #BFBFBF;
    }
    .socnet{
        display: inline-block;
        position: fixed;
        width: 5.5%;
        height: auto;
        min-width: 35px;
    }
    #githab{
        bottom: 11.5rem; left: 3.5rem;
    }
    #twitter{
        bottom: 11.5rem; left: 7.5rem;
    }
    #facebook{
        bottom: 11.5rem; left: 11.25rem;
    }
    #instagram{
        bottom: 11.5rem;; left: 15rem;
    }
    .footer-text{
        text-align: center;
    }
    #news{
        bottom: 3rem; left: 3.5rem;
    }
    #telephone{
        bottom: 3rem; left: 20rem;
    }
    #response{
        bottom: 3rem; left: 35rem;
    }
    #clock{
        display: none;
    }
    .footer a{
        font-weight: 600;
        position: fixed;
        display: block;
        font-size: 120%;
        text-decoration: none;
        cursor: pointer;
        color: #BFBFBF;
    }
    .footer a:hover{
        color: #ffffff;
    }
    .news{
        font-weight: 800;
        font-size: 250%;
        width: 87.5%;
        height: 5.5em;
        margin-bottom: 1.5em;
        margin-left: 5%;
        margin-right: auto;
        position: absolute;
        display: block;
        align-items: center;
        background-color: #d5d5d5;
        text-align: center;
        border-radius: 10px;
    }
    .news a{
        text-decoration: none;
        color: #000000;
    }
    #news1{
        margin-top: 3.5em;
        margin-bottom: 1.5em;
    }
    #news2{
        margin-top: 9.5em;
        margin-bottom: 1.5em;
    }
    .new{
        width: 50%;
        margin-top: 1.5em;
        margin-left: 25%;
        margin-right: auto;
        height: 100%;
        position: absolute;
        display: block;
        align-items: center;
        background-color: #d5d5d5;
        text-align: left;
        border-radius: 10px;
    }
    .new_header_text{
        margin-top: 4em;
        font-size: 250%;
        font-weight: 800;
    }
    .new_text{
        margin-top: -1.5em;
    }
    .fb-comments{
        padding: 1.5em;
        width: 20em;
        margin-top: 11em;
        margin-left: 50em;
        margin-right: auto;
        height: 28.5em;
        position: absolute;
        display: block;
        align-items: center;
        background-color: #d5d5d5;
        text-align: left;
        border-radius: 10px;
    }}



    @media screen and (width: 768px){
        .header{
            z-index: 10;
            top: 0rem; left: 0rem;
            color: #ffffff;
            transition: all .3s ease;
            position: fixed;
            padding-bottom: 0.5%;
            width: 100%;
            height: 7.5rem;
        }
        .footer{
            z-index: 11;
            font-weight: 600;
            bottom: 0rem; left: 0rem;
            color: #ffffff;
            text-align:right;
            transition: all .3s ease;
            position: fixed;
            padding-bottom: 0.5%;
            width: 100%;
            height: 20rem;
        }
        .footer .bombas{
            bottom: 15rem; left: 3rem;
            position: fixed;
            width: 15rem;
        }
        .footer .email-text{
            bottom: 8.5rem; left: 3.5rem;
            position: fixed;
            color: #BFBFBF;
            text-decoration: none;
        }
        .copyright{
            display: inline-block;
            position: fixed;
            bottom: 5.5rem; left: 3.5rem;
            color: #BFBFBF;
        }
        .socnet{
            display: inline-block;
            position: fixed;
            width: 5.5%;
            height: auto;
            min-width: 35px;
        }
        #githab{
            bottom: 11.5rem; left: 3.5rem;
        }
        #twitter{
            bottom: 11.5rem; left: 7.5rem;
        }
        #facebook{
            bottom: 11.5rem; left: 11.25rem;
        }
        #instagram{
            bottom: 11.5rem;; left: 15rem;
        }
        .footer-text{
            text-align: center;
        }
        #news{
            bottom: 3rem; left: 3.5rem;
        }
        #telephone{
            bottom: 3rem; left: 20rem;
        }
        #response{
            bottom: 3rem; left: 35rem;
        }
        #clock{
            display: none;
        }
        .footer a{
            font-weight: 600;
            position: fixed;
            display: block;
            font-size: 120%;
            text-decoration: none;
            cursor: pointer;
            color: #BFBFBF;
        }
        .footer a:hover{
            color: #ffffff;
        }
        .news{
            font-weight: 800;
            font-size: 250%;
            width: 87.5%;
            height: 5.5em;
            margin-bottom: 1.5em;
            margin-left: 5%;
            margin-right: auto;
            position: absolute;
            display: block;
            align-items: center;
            background-color: #d5d5d5;
            text-align: center;
            border-radius: 10px;
        }
        .news a{
            text-decoration: none;
            color: #000000;
        }
        #news1{
            margin-top: 3.5em;
            margin-bottom: 1.5em;
        }
        #news2{
            margin-top: 9.5em;
            margin-bottom: 1.5em;
        }
        .new{
            width: 50%;
            margin-top: 1.5em;
            margin-left: 25%;
            margin-right: auto;
            height: 100%;
            position: absolute;
            display: block;
            align-items: center;
            background-color: #d5d5d5;
            text-align: left;
            border-radius: 10px;
        }
        .new_header_text{
            margin-top: 4em;
            font-size: 250%;
            font-weight: 800;
        }
        .new_text{
            margin-top: -1.5em;
        }
        .fb-comments{
            padding: 1.5em;
            width: 20em;
            margin-top: 11em;
            margin-left: 50em;
            margin-right: auto;
            height: 28.5em;
            position: absolute;
            display: block;
            align-items: center;
            background-color: #d5d5d5;
            text-align: left;
            border-radius: 10px;
        }}




        @media screen and (width: 768px){
            .header{
                z-index: 10;
                top: 0rem; left: 0rem;
                color: #ffffff;
                transition: all .3s ease;
                position: fixed;
                padding-bottom: 0.5%;
                width: 100%;
                height: 7.5rem;
            }
            .footer{
                z-index: 11;
                font-weight: 600;
                bottom: 0rem; left: 0rem;
                color: #ffffff;
                text-align:right;
                transition: all .3s ease;
                position: fixed;
                padding-bottom: 0.5%;
                width: 100%;
                height: 20rem;
            }
            .footer .bombas{
                bottom: 15rem; left: 3rem;
                position: fixed;
                width: 15rem;
            }
            .footer .email-text{
                bottom: 8.5rem; left: 3.5rem;
                position: fixed;
                color: #BFBFBF;
                text-decoration: none;
            }
            .copyright{
                display: inline-block;
                position: fixed;
                bottom: 5.5rem; left: 3.5rem;
                color: #BFBFBF;
            }
            .socnet{
                display: inline-block;
                position: fixed;
                width: 5.5%;
                height: auto;
                min-width: 35px;
            }
            #githab{
                bottom: 11.5rem; left: 3.5rem;
            }
            #twitter{
                bottom: 11.5rem; left: 7.5rem;
            }
            #facebook{
                bottom: 11.5rem; left: 11.25rem;
            }
            #instagram{
                bottom: 11.5rem;; left: 15rem;
            }
            .footer-text{
                text-align: center;
            }
            #news{
                bottom: 3rem; left: 3.5rem;
            }
            #telephone{
                bottom: 3rem; left: 20rem;
            }
            #response{
                bottom: 3rem; left: 35rem;
            }
            #clock{
                display: none;
            }
            .footer a{
                font-weight: 600;
                position: fixed;
                display: block;
                font-size: 120%;
                text-decoration: none;
                cursor: pointer;
                color: #BFBFBF;
            }
            .footer a:hover{
                color: #ffffff;
            }
            .fb-comments{
                padding: 1.5em;
                width: 20em;
                margin-top: 11em;
                margin-left: 50em;
                margin-right: auto;
                height: 28.5em;
                position: absolute;
                display: block;
                align-items: center;
                background-color: #d5d5d5;
                text-align: left;
                border-radius: 10px;
            }}
/* 
Если при изменении размера шрифта у корневого элемента этот отступ должен изменится, то в rem.
Если он зависит от текущего шрифта, то в em.
Если не зависит ни от чего и всегда постоянен, то в px.
*/